{% extends "layout.twig.html" %}

{% block content %}
<h3>Parcours des {{documents.type}}</h3>
<a class="btn btn-small btn-info" href="/catalogue/{{documents.type}}/edit">Add</a>

<table id="doc-table" class="table table-striped">
  <thead>
    <tr>
      <th>Libellé</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
      {% for doc in documents.docs %}
        <tr>
          <td><a href="/catalogue/{{documents.type}}/show/{{doc.id}}">{{doc.libelle}}</a></td>
          <td>
            <a class="btn btn-small btn-warning" href="/catalogue/{{documents.type}}/edit/{{doc.id}}">Edit</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}