{% extends "layout.twig.html" %}

{% block content %}

    {% for key, categorie in categories %}
        <div class="span12">
            <h3>{{ key }}</h3>

                <ul class="nav">
                {% for data in categorie %}
                    <a href="/catalogue/{{ data }}" class="btn btn-info"> {{ data|capitalize }}</a>
                {% endfor %}
                </ul>
            <hr />
        </div>
    {% endfor %}



<div class="span6">
      <div class="span12">
        <h4>About this App</h4>
        <p>Welcome to Couchbase!</p>
        <p>This application helps you to get started on application
            development with Couchbase. It shows how to create, update and
            delete documents and how to work with JSON documents.</p>
        <p>The official tutorial can be found
            <a href="http://www.couchbase.com/docs/couchbase-sdk-php-1.1/tutorial.html">here</a>!</p>
      </div>
    </div>
{% endblock %}